language: python

# Cache the pip files
cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.nvm
    - node_modules
    - wger/node_modules

# Use container infrastructure
# http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/
sudo: false

# Python versions to test
python:
  - "2.7"
  - "3.4"
  - "3.5"

# Manually define here the combinations environment variables to test
# https://github.com/travis-ci/travis-ci/issues/1519
env:
  - TEST_MOBILE=True  DB=postgresql TRAVIS_NODE_VERSION="4"
  - TEST_MOBILE=True  DB=sqlite     TRAVIS_NODE_VERSION="4"
  - TEST_MOBILE=False DB=postgresql TRAVIS_NODE_VERSION="4"
  - TEST_MOBILE=False DB=sqlite     TRAVIS_NODE_VERSION="4"

# Install the application
install:
  # Update nvm and set wanted Node version.
  # We update nvm using the script method instead of git, which is selected
  # automatically, as git won't work because the $HOME/.nvm is not a git
  # repository and the directory is not empty.
  - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.31.4/install.sh | METHOD=script bash
  - . $HOME/.nvm/nvm.sh
  - nvm install $TRAVIS_NODE_VERSION
  - nvm use $TRAVIS_NODE_VERSION

  # Install requirements
  - pip install -r requirements_devel.txt
  - npm install
  - if [[ "$DB" = "postgresql" ]]; then pip install psycopg2; fi

  # Setup application
  - if [[ "$DB" = "sqlite" ]]; then invoke create_settings; fi
  - if [[ "$DB" = "postgresql" ]]; then invoke create_settings --database-type postgresql; fi

# Create test databases
before_script:
  - if [[ "$DB" = "postgresq" ]]; then psql -c 'DROP DATABASE IF EXISTS test_wger;' -U postgres; fi
  - if [[ "$DB" = "postgresql" ]]; then psql -c 'CREATE DATABASE test_wger;' -U postgres; fi

# Do the tests
script:
  # Formatting
  - pep8 wger

  # Javascript linting
  - gulp lint

  # Regular application
  - coverage run --source='.' ./manage.py test


  # Code coverage
  - coverage report

notifications:
  slack:
    secure: 1rhf270fKVmnSqvPOfEh5j4wFZJOJp9YmsxJZC8aJ8MKn1Y7az/KG3sJ1U81A54GtMbI2LbiG1IqwS4Ga/HJuD+DVv/d1JryIfjEusMg2BhgsO2A5iHFrmCAoY+Q5aaBZStPgKGHECt4RJV1NWL6TdusJgTGcGrlvhz58jY7nFLM3EagrxuM1BjJB8K9flNueXupK4bXL2IZUT1S5WwnHUlvcemsC/CJ+I9k2i40uZGtNYPpcl3GKQFJ8Q586k0BWoLp+ZediEcmx9yvlTaOh790lTeghdFbTeKGkBUlMkRsUazszwPw6pwnsMGytW93qgMvZdtUgXwzPc6igvJ+lSOhG5upHKU5XiXHfNzXd9JRJH9FwMrUfuYBsYiDoSipgHhS1AB00Ex8gmPkNAIrOrqKzR7BwgfXF04wtjO4J3ugtkslSPHD7ag0lqKocQjCg96jOvKlx6TL/X3T/x6SZXaP2llBF6luqFvgs34wTIAw1JTVuwzxKkXG0tHCyUZaKTE76i35kVmCB2tPCm9tphHFFjL7WQjBEffRa4wfWxb4zu9ftUwYyoWxynuSq4j6NBIC2mPVBh3sY4MZEeFr5WLsky4+i57oR8jRSfn6OTi9rWpWISwGEhes3AmtYYqSUe6BoHJLLMM0ZyZMz7o+BUzUy2vdG4ZJpIg/nVz9E5k=
